body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  margin: 0;
  font-size: 16px;;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.activestate {
  background-color: #ccc;
}

* {
  background-color: rgba(0,0,0,.02);
}